<div class="content">
  <h4>Checks</h4>
  <form #form="ngForm">
    <div class="field">
      <label for="masterapiurl" class="label">Master-API-URLs</label>
      <div class="control">
        <input type="text" class="input" name="masterapiurl" id="masterapiurl"
               [(ngModel)]="checks.masterApiUrls">
      </div>
    </div>
    <div class="field">
      <label for="daemonurl" class="label">Daemon url</label>
      <div class="control">
        <input type="text" class="input" name="daemonurl" id="daemonurl"
               [(ngModel)]="checks.daemonPublicUrl">
      </div>
    </div>
    <div class="field">
      <label for="interval" class="label">Etcd Ips</label>
      <div class="col-sm-10">
        <input type="text" class="input" name="etcdips" id="etcdips"
               [(ngModel)]="checks.etcdIps">
      </div>
    </div>
    <div class="field">
      <label for="interval" class="label">Check interval</label>
      <div class="col-sm-10">
        <input type="number" class="input" name="interval" id="interval"
               [(ngModel)]="checks.checkInterval">
      </div>
    </div>

    <div class="container">
      <div class="field">
        <label class="label">
          <input class="checkbox" type="checkbox" name="masterapicheck" id="masterapicheck"
                 [(ngModel)]="checks.masterApiChecks"> Master-API-Checks
        </label>
        <label class="label">
          <input class="checkbox" type="checkbox" name="dnscheck" id="dnscheck"
                 [(ngModel)]="checks.dnsCheck"> DNS-Checks
        </label>
        <label class="label">
          <input class="checkbox" type="checkbox" name="httpcheck" id="httpcheck"
                 [(ngModel)]="checks.httpChecks"> Http-Checks
        </label>
        <label class="label">
          <input class="checkbox" type="checkbox" name="etcdchecks" id="etcdchecks"
                 [(ngModel)]="checks.etcdCheck"> Etcd-Checks
        </label>
      </div>
    </div>

    <div class="columns">
      <div class="column">
        <button class="button is-success" (click)="startChecks()" *ngIf="!checks.isRunning">Start Checks
        </button>
        <button class="button is-warning" (click)="stopChecks()" *ngIf="checks.isRunning">Stop Checks
        </button>
      </div>
      <div class="column">
        <div class="spinner" *ngIf="checks.isRunning">
          <div class="rect1"></div>
          <div class="rect2"></div>
          <div class="rect3"></div>
          <div class="rect4"></div>
          <div class="rect5"></div>
        </div>
      </div>
    </div>
  </form>
</div>
